<footer id="foot">
    <div class="display"></div>
    <i class="fa-brands fa-facebook" id="favicon">Facebook</i>
    <i class="fa-brands fa-github" id="favicon">Github</i>
    <i class="fa-brands fa-instagram" id="favicon">Instagram</i>
    <i class="fa-brands fa-twitter" id="favicon">Twitter</i>

    <div class="row1">
        <a href="url">Questions?</a>  <a href="url">Contact Us</a> <br><br>
        <a href="url">FAQ</a><br>
        <a href="url">Investor Relations</a><br>
        <a href="url">Privacy</a><br>
        <a href="url">Speed Test</a><br><br>
       <p> Netflix Kenya </p>
    <br>
    Buy Vitu &copy; 2022 | All Rights Reserved. Developed by <a href="http://www.denniskemboi.io.ke"> Dennis Kemboi</a>.😊.
</div>

</footer>
</body>
</html>






