<header class="container">
    <div>
       <a id="logo" href ="/">Buy Vitu</a>
    </div>
    <nav>
        <ul>
                    <li class="nav-link"> <a href ="products/"> Products</a></li>
                <% if(locals.isLoggedIn) { %>
                    <li class="nav-link"> <a href ="add-listing/"> Add Product</a></li>
                    <li class="nav-link"><a href ="/contact-seller">Contact Seller</a></li>
                    <li class="nav-link"><a href ="/logout">Log Out</a></li>
                <% } else { %>
                    <li class="nav-link"><a href ="/signup">Sign Up</a></li>
                    <li class="nav-link"><a href ="/login">Log in</a></li>
                   
                <% } %>
        </ul>
    </nav>
</header>


