<%- include('partials/header') %>
<%- include('partials/nav') %>

<main class="container" id="page-not-found">
        <img src="/images/404.jpg" alt ="" id="error-page">
</main>




<%- include('partials/footer') %>