<%- include('partials/header') %>
<main id="home">

    <%- include('partials/nav') %>
   <div class="background-image">
    <h1>Buy and sell second hand products on buy vitu</h1>
    <p>We connect Seller to potential buyer<br> and help you get money out of products that you dont need</p>
   </div>


    
</main>






<%- include('partials/footer') %>