*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
}

.access-point form{
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 0 auto;
    border: 1px solid #d8d7d7;
    margin-top: 40px;
    border-radius: 10px;
}
.access-point form h2{
    text-align: center;
    color: #383a3a;
}
.access-point form label{
    margin-bottom: 5px;
}
.access-point form input, .access-point form select{
    font-size: 19px;
    margin-bottom: 5px;
}
.access-point form input[type='submit']{
    background-color:  #383a3a;
    color: #fff;
    padding: 10px;
    border: 1px solid  #383a3a;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sell form{
    margin: 40px auto 0;
    padding: 20px;
    border: 1px solid #d8d7d7;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 50%;
}
.sell form label{
    font-size: 19px;
    color: #000;
    margin-bottom: 8px;
}
.sell input[type="submit"]{
    font-size: 19px;
    background-color: #444546;
    color: #fff;
    border: 1px solid #444546;
    border-radius: 5px;
    padding: 10px;
    width: 100px;
    align-self: center;
    margin-top: 10px;
}
.sell form input{
    font-size: 22px;
}
#home, #page-not-found{
    display: flex;
    height: 65vh;
    align-items: center;
}
li{
    list-style-type: none;
}
.main-menu .navbar-brand{
    padding-top: 0rem;
    padding-bottom: 0px;
}
.main-menu .navbar{
    padding: 0px;
}
.main-menu .main-menu-item ul li .nav-link{
    color: #000;
    font-size: 15px;
    padding: 35px 25px;
    text-transform: capitalize;
    line-height: 12px;
    font-weight: 400;
}
.main-menu .main-menu-item ul li .nav-link:hover{
    color: #000;
}
@media only screen and (min-width:992px) and (max-width:1200px) {
    .main-menu .main-menu-item ul li .nav-link{
        padding: 35px 20px;
    }
}
@media (max-width:576px){
    .main-menu{
        padding: 20px 0;
    }
   
}
.main-menu .item{
    justify-content: center !important;
}

.breadcrumb {
    height: 55px;
    position: relative;
    z-index: 1;
    background: #383a3a;
    margin-bottom: 0px !important;
   
}

.breadcrumb .crumb-inner p{
    font-size: 15px;
    color: #fff;
    padding: 10px 15px 10px 30px;
}


.side-area{
    margin-bottom: 30px;
   
}
.side-area:last-child{
    margin-bottom:0px;
}
.product-side .side-content{
    border: 1px solid #eee;
}
.product-side .side-content:last-child{
    border-bottom: 0px;
}
.product-side .list{
    border: 1px solid #ddd;
    padding-top: 25px;
    margin-top: 25px;
}
.product-side .list:first-child{
    padding-top: 0;
    margin-top: 0;
    border-top: 0px solid transparent;
}
.product-side .list li{
    margin-bottom: 18px;
    transition: 0.5s;
}
.side-title .side-content a li{
    text-decoration: none;
}
.product-side .list li a{
    font-size: 14px;
    font-weight: normal;
    color: #606060;
    position: relative;
    text-decoration: none;
}
.side-shadow{
    box-shadow: 0px 10px 10px 0px #99999933;
}
@media (max-width:991px){
    .side-title{
        padding-left: 0;
        padding-right: 0;
    }
}
.side-title h3{
    margin-bottom: 20px;
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    line-height: 40px;
    position: relative;
    background: #444546;
    padding: 10px 15px 10px 30px;
    text-transform: uppercase;
}
@media (max-width:991px){
    .product-item{
        width: 100% !important;
    }
}
.product-top .product-sec h5{
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 0;
}




.product-cate{
    width: 100%;
}
.product-cate{
    display: flex;
   width: 60vw;
   margin-left: 20px; 
   height: 10vh;
    width:  30%;
}
.product-cate  img{
    display: block;
    border: 3px solid red;
    
}

.produduct-description{
    height: 200px;
    width: 300px;
}
 .product-cate .product-des h3{
    font-size: 16px;
    color: #000;
    margin-bottom: 50px;
    display: flex;
    width: 60vw;
    margin-left: 20px; 
} 
.product-cate .product-des p{
font-size: 18px;
font-weight: 600;
color: #606060;
border: 1px solid green;
position: absolute;
top :100%;
left: 30px;
display: flex;
    width: 60vw;
    margin-left: 20px; 
}
.product-btn{
    display: inline-block;
    width: 180px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #fff;
    font-size: 18px;
    font-weight: 700;
    color: #1e1e1e;
    transition: all .4s ease-in-out;
    text-transform: capitalize;
}
.product-btn:hover{
    color: #fff !important;
    background: #000;
    text-decoration: none;
}
@media (max-width:991px){
    .product-btn{
        height: 50px;
        width: 140px;
        line-height: 50px;
    }
}



/* contact seller  styles */
